{% capture content %}
<!--   <section class="visual">
    <div class="container">
      <div class="text-block">
        <div class="heading-holder">
          <h1 class="title"><a href="/">{{ site.meta.title }}</a></h1>
        </div>
        <p class="tagline">{{ site.meta.tagline }}</p>
      </div>
    </div>
    <img src="{% if current.url contains 'partners' %}
                {{ '/images/img-decor-01.jpg' }}
                {% else %}
                {{ '/images/img-decor-03.jpg' }}
              {% endif %}" alt="" class="bg-stretch">
  </section>
 -->  <section class="main no-header">
    <div class="container">
      <!-- <div id="cta">
        <a href="/home/subscribe/#cta" class="btn btn-primary rounded">Subscribe to our Newsletter</a>
        <p>Get the latest news, reports, and project updates.</p>
      </div> -->
      <div class="container">
        <div class="main-section-text col-md-offset-1 col-md-10">
        <h1>{{ title }}</h1>
        {{ body }}
        </div>
      </div>
    </div>
  </section>
{% endcapture %}

{% include 'layouts/default' %}
