{% capture content %}
  {% include 'includes/main-default' %}
<!-- Thanks to destroytoday for this idea on template setup, not to mention all the other great advice. -->
<h2>Site Setup</h2>
<p>Before you do anything, add the following meta fields and pages to your site, or remove them from the template:</p>
<ol>
  {% unless site.meta.description %}
    <li>meta: "description" - site description for search engines</li>
  {% endunless %}
  {% unless site.meta.keywords %}
    <li>meta: "keywords" - site keywords for search engines</li>
  {% endunless %}
  {% unless site.meta.analytics %}
    <li>meta: "analytics" - Google Analytics ID for analytics</li>
    {% endunless %}
  {% unless site.meta.tagline %}
    <li>meta: "tagline" - will appear under the site title</li>
  {% endunless %}
  {% unless site.pages.jibber-jabber %}
    <li>Create a "jibber-jabber" page under which you'll create your blog posts</li>
  {% endunless %}
</ol>
<p>Then, remove this content from the "/default.html" file and start coding!</p>
{% endcapture %}
{% include 'layouts/default' %}
