  <footer id="footer">
    <div class="container">
      <div class="footer-holder">
        <div class="row">
          <div class="col-md-4 footer-block">
            <div class="text-holder">
              <a href="/contact-us">Contact Us</a>
              <p>Preparedness and Response Project, DAI</p>
              <p>7600 Wisconsin Ave.<br>Suite 200<br>Bethesda, MD 20814</p>
            </div>
          </div>
        <div class="col-md-4 footer-block">
          <div class="text-frame">
            <h4>What is One Health?</h4>
            <p>One Health is the collaborative effort of multiple disciplines—working locally, nationaly, and globally—to attain optimal health for people, animals, and the environment.</p>
          </div>
        </div>
        <div class="col-md-4 footer-block">
          <div class="logo"><a href="http://www.usaid.gov/"><img id="logo" src="/images/usaid.png" alt="usaid logo"></a></div>
          <p>The Preparedness and Response project is funded by the U.S. Agency for International Development.</p>
        </div>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="/js/site.js"></script>
  </footer>
