    <header id="header">
      <div class="container">
        <div class="logo"><a href="/"><img id="logo" src="/images/full-logo.jpg" alt="usaid logo"></a></div>
        <nav id="nav">
          <div class="opener-holder">
            <a href="#" class="nav-opener"><span></span></a>
          </div>
          <div class="nav-drop">
            <ul>
              <li class="visible-sm visible-xs"><a href="/">Home</a></li>
              <li><a {% if current.url contains 'news' %} {{ 'class="current"' }} {% endif %}
                     href="/news">News</a></li>
              <li><a {% if current.url contains 'overview' %} {{ 'class="current"' }} {% endif %}
                     href="/overview">Overview</a></li>
              <li><a {% if current.url contains 'partners' %} {{ 'class="current"' }} {% endif %} href="/partners">Partners</a></li>
            <!--   <li><a {% if current.url contains 'glossary' %} {{ 'class="current"' }} {% endif %} href="#">Glossary</a></li>
              <li><a {% if current.url contains 'multimedia' %} {{ 'class="current"' }} {% endif %} href="#">Multimedia</a></li> -->
            </ul>
            <div class="drop-holder visible-sm visible-xs">
              <span>Follow Us</span>
              <ul class="social-networks">
                <li><a class="fa fa-twitter" href="#"></a></li>
                <li><a class="fa fa-facebook" href="#"></a></li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </header>
