<header>
  <div class="header-wrap">
    <nav class="cf">
      <ul class="cf">
        <li><a href="http://dai.com/contact-us">Contact</a></li>
        {% for page in site.pages offset:1 limit:1 %}
          <li><a href="{{page.url}}">{{page.title}} </a></li>
        {% endfor %}
      </ul>
    </nav>
    <section class="masthead">
      <h1 class="masthead-title"><a href="/">{{ site.title }}</a></h1>
      <p class="masthead-tagline">{{ site.meta.tagline}}</p>
    </section>
  </div>
</header>
