{% capture content %}
  <section class="main no-header">
      <div class="container">
        <div class="main-section-text col-md-offset-1 col-md-10">
          <h1>{{ current.title }}</h1>
          {{ current.body }}
         {% for expert in  current.posts %}
         <div class="expert">
           <h2><a href="{{ expert.url }}">{{ expert.title }}</a></h2>
           <p><strong>{{ expert.meta.job }}</strong></p>
           <p>
             {{ expert.body }}
           </p>

         </div>
         <hr>
         {% endfor %}
        </div>
      </div>
  </section>
{% endcapture %}

{% include 'layouts/default' %}
