{% capture content %}
<section class="main no-header">
      <div class="container">
        <div class="main-section-text col-md-offset-1 col-md-10">
          <h1>The Team Page</h1>
          <hr>
          <div class="team-posts">
            <h2>Team Updates</h2>
            <br>
            {% for post in current.posts limit:5 %}
              <div class="post clearfix">
                <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
                <p>{{ post.excerpt }}</p>
                  <a href="{{ post.url }}" class="btn-more btn btn-primary rounded">Read More</a>
              </div>
            {% endfor %}
            <hr>
          </div>
          <!-- {{ current.body }} -->
          {% for asset in current.assets %}
          {% if asset.meta.resource %}
            {% assign resources = 'yes' %}
          {% endif %}
        {% endfor %}
          <div class="additional-resoruces team-resources">
            <h2>Key Resources</h2>
            <br>
            <ul>
              {% for page in current.pages %}
                <li><a href="{{ page.url }}">{{ page.title }}</a></li>
              {% endfor %}
            </ul>
          </div>
          <div class="team-filter">
            <h2>Update Tag Archive</h2>
            <ul>
              {% for tag in current.taxonomy.tags %}
                <li><a href="{{ tag.url }}">{{ tag.value }}</a></li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
  </section>
{% endcapture %}
{% include 'layouts/default' %}
