//—————————————————————//
//****Media Queries****//
//—————————————————————//
/*
  Extra-Small
  240–479 px
*/
@media screen and (min-width: 15em) {
  header, main, footer{
    @include width(4);
    margin: auto;
    overflow: hidden;
  }

}

/*
  Small
  480-767 px
*/
@media screen and (min-width: 30em) {
  header, main, footer{
    @include width(6)
  }
}

/*
  Medium
  600-911 px
*/
@media screen and (min-width: 37.5em){
  // Grid
  header, main, footer{
    @include width(8)
  }
  // Typography
  h1{
    font-size: 4em;
  }
  h2{
    font-size: 2em;
  }
  p, blockquote{
    font-size: 1.2em
  }
  li, .details{
    font-size: 1em;
  }
}

/*
  Large
  912-1887 px
*/
@media screen and (min-width: 57em){
  // Grid
  header, main, footer{
    @include width(12)
  }
  // Typography
  h1{
    font-size: 4.1em;
  }
  h2{
    font-size: 2.1em;
  }
  p, blockquote{
    font-size: 1.3em;
  }
  li, .details{
    font-size: 1.1em;
  }
}

/*
  Extra Large
  1887-Wicked Big
*/
@media screen and (min-width: 77em){
  // Grid
  header, main, footer{
    @include width(14)
  }
  // Typography
  h1{
    font-size: 4.2em;
  }
  h2{
    font-size: 2.2em;
  }
  p, blockquote{
    font-size: 1.4
  }
  li, .details{
    font-size: 1.2em;
  }
}
