//—————————————————————//
//****Media Queries****//
//—————————————————————//

/*
  Extra-Small
  240–479 px
*/
@media screen and (min-width: 15em) {
  .header-wrap, main, .footer-wrap{
    @include width(4);
    margin: auto;
    overflow: hidden;
  }
  main{margin-top: 12em
  }
}

/*
  Small
  480-767 px
*/
@media screen and (min-width: 30em) {
  .header-wrap, main, .footer-wrap{
    @include width(6)
  }
  main{
    margin-top: 10em;
  }
}

/*
  Medium
  600-911 px
*/
@media screen and (min-width: 37.5em){
  // Grid
  .header-wrap, main, .footer-wrap{
    @include width(8)
  }
  // Typography
  h2{
    font-size: 2em;
  }
  p, blockquote{
    font-size: 1.2em
  }
  li, .details{
    font-size: 1em;
  }
  main{
    margin-top: 14em;
  }
  .masthead{
    @include width(5);
    float: left;
    margin-right: $gutter;
  }
  nav{
    @include width(3);
    float: right;
  }
}

/*
  Large
  912-1887 px
*/
@media screen and (min-width: 57em){
  // Grid
  .header-wrap, main, .footer-wrap{
    @include width(12)
  }
  // Typography
  h2{
    font-size: 2.1em;
  }
  p, blockquote{
    font-size: 1.3em;
  }
  li, .details{
    font-size: 1.1em;
  }
  main{
    margin-top: 14.5em
  }
}

/*
  Extra Large
  1887-Wicked Big
*/
@media screen and (min-width: 77em){
  // Grid
  .header-wrap, main, .footer-wrap{
    @include width(14)
  }
  // Typography

}
