@import 'queries';
p, a{
  font-family: "merriweather", georgia, serif;
  font-weight: 400;
}
nav a{
  font-family: "source-sans-pro", Helvetica, Arial, sans-serif;
  font-weight: 400;
}
h1{
  font-family: "source-sans-pro", Helvetica, Arial, sans-serif;
  font-weight: 200;
}
h2, h3, h4, *{
  font-family: "source-sans-pro", Helvetica, Arial, sans-serif;
  font-weight: 900;
}
h1, h2, h3, h4{
  color: $usaid-black;
}
.visual{
  .text-block{
    padding-top: 8px;
  }
  h1{
    font-size: 2.8rem;
    @include responsive(tiny-screens){
      font-size: 2.8rem;
    }
    @include responsive(small-screens){
      font-size: 7rem;
    }
  }
  p.tagline{
  }
}
.main-section-text{

  p{
    font-size: 1.7rem;
  }
  li{
    margin-left: 15px;
    font-size: 1.6rem;
  }
}
