@import 'grid';

// Merriweather font-weights
$light: 300;
$normal: 400;
$bold: 700;
$ultra-bold: 900;

//FOUT, it is the worst
body{
  font-family: Georgia;
  font-size: $font-size;
  line-height: 1.5;
  visibility: hidden;
}
.wf-inactive body{
  display: block;
  visibility: visible;
}
.wf-active body{
  font-family: Merriweather;
  display: block;
  visibility: visible;
}

// Header
h1{
  font-weight: bold;
  font-size: 3em;
  a{
    border-bottom: 0;
  }
}
h2{
  font-size: 1.5em;
  a{
    border-bottom: 0;
  }
}
.masthead-tagline{
  font-size: .8em;
}

// Body Text
p, blockquote{
  font-size: 1em;
  line-height: 1.8em;
  margin-bottom: 1em;
}
li{
  font-size: .9em;
  line-height: 1.8em;
}

// Various
.details{
  font-size: .8em;
  font-family: helvetica, arial, sans-serif;
}

nav ul li a{
  font-family: helvetica, arial, sans-serif;
  font-size: .7em;
  border-bottom: 0;
}

// Links
a{
  color: #303030;
  text-decoration: none;
  border-bottom: 1px solid #303030;
}
