@import 'queries';
p, h1, h2, h3, h4, *{
  font-family: "ff-meta-web-pro", Helvetica, Arial, sans-serif;
}
.visual{
  .text-block{
    padding-top: 8px;
  }
  h1{
    font-size: 2.8rem;
    @include responsive(tiny-screens){
      font-size: 2.8rem;
    }
    @include responsive(small-screens){
      font-size: 7rem;
    }
  }
  p.tagline{
  }
}
.main-section-text{

  p{
    font-size: 1.7rem;
  }
}