$border-gray: #DDDDDD;
$background-gray: #F7F7F7;
$code-background-gray: #484848;
$code-text-white: #F7F7F1;
$body-text: #303030;

// USAID Colors

$usaid-blue: #002A6C;
$usaid-red: #C2113A;
$usaid-black: #000000;
$usaid-dark-gray: #666666;
$usaid-light-gray: #DDDDDD;
$usaid-light-blue: #336799;


// Mixins
@mixin clearfix {
&::after {
clear: both;
content: "";
display: table;
  }
}


