@import 'fork-bootstrap';
@import 'fork-all';
@import 'font-awesome';
@import 'flickity';
@import 'normalize';
@import 'variables';
@import 'queries';
@import 'typography';

body{
  visibility: hidden;
}
html.wf-active body{
  visibility: visible;
}
// RESETS
iframe{
  width: 100%;
}
a, a:focus, a:hover{
  outline-style: none;
}
#nav .nav-drop>ul li.active:before{
  background-color: $usaid-red;
}
#nav ul li a, .foot-nav li a{
  color: $usaid-blue;
}
#nav .nav-drop>ul li a:active, #nav .nav-drop>ul li a:focus, #nav .nav-drop>ul li a:hover, .foot-nav li a:hover{
  color: $usaid-light-blue;
  text-decoration: none;
}
a{
  color: $usaid-red;
}
a:hover{
  color: darken($usaid-red, 10%);
}
#nav .nav-drop .drop-holder ul a:hover{
  color: $usaid-light-blue;
}
.visual{
  @include responsive(wide-screens){
    padding: 124px 0 0;
  }
  h1{
    margin-top: 10px;
  }
  color: white;
  @include responsive(medium-screens){

  }
}
// HEADER
.title a, .tagline{
  color: $usaid-light-gray;
}
#nav li a.current, #nav .nav-drop li a.current{
  color: $usaid-red;
}
.logobar{
  img{ width: 240px;
  @include responsive(medium-screens){
    width: 350px;
  }
  @include responsive(wide-screens){
    width: 400px;
  }
  }
  .usaid{
    float: left;
  }
  .pandr{
    float: right;
  }
}
.sub-top{
  display: none;
  @include responsive(medium-screens){
    display: block;
  }
}
// Boots

.btn-primary {
  color: #fff;
  background-color: $usaid-blue;
  border-color: $usaid-blue;
}
.btn-primary:hover{
  background-color: $usaid-light-blue;
  border-color: $usaid-light-blue;
}
#header .btn{
  line-height: 24px;
}

// Primary-Content
.no-header{
  padding-top: 0px;
  @include responsive(wide-screens){
    padding-top: 130px;
  }
}
.read-more{
  text-align: right;
}
article{
  @include clearfix;
}
.more-arrow{
  position: relative;
  top: 7px;
  height: 25px;
}
.btn-more{
  float: right;
  padding: 3px 6px;
  border-radius: 7px;
}
#resp-frame{
  margin-bottom: 2rem;
}
div.container.nav-box.important{
  padding: 0  0 29px 0;
  @include responsive(wide-screens){
    padding: 0 0 2px 0;
  }
}
section.visual, section.hero-box, .gallery{
  margin-top: 10px;
  @include responsive(wide-screens){
    margin-top: 200px;
  }
}
section.no-header{
  @include responsive(wide-screens){
    margin-top: 80px;
  }
}
.gallery{
}
.hero-box{
  min-height: 45rem;
  overflow: hidden;
  @include responsive(wide-screens){
    min-height: 70rem;
  }
  .hero-box--text{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    background-color: rgba(224,224,224,0.8);
    h1,{
    font-weight: extra-bold;
    text-align: center;
    padding: 1rem 0 2rem 0;
    margin-top: 5rem;
    margin-bottom: 0;
    font-weight: 200;
    font-size: 5rem;
    color: $usaid-black;
    }
    p{
      padding: 1rem 0 1.2rem 0;
      text-align: center;
      font-size: 4rem;
      font-weight: 200;
      color: $usaid-black;
      font-family: "source-sans-pro", Helvetica, Arial, sans-serif;
    }
  }
}
.footer-block{
  margin-bottom: 2.5rem;
}
.gallery {

}

.gallery-cell {
  width: 66%;
  height: 400px;
  margin-right: 10px;
  background: #8C8;
  counter-increment: gallery-cell;
}
/* cell number */
.gallery-cell:before {

}
a.gallery-cell h2, a.gallery-cell p{
  color: $usaid-light-gray;
}
a.gallery-cell:hover{
  color: $usaid-light-gray;
}
.gallery-cell--text{
  width: 100%;
  @include responsive(small-screens){
    width: 70%;
  }
  @include responsive(medium-screens){
    width: 50%;
  }
  margin: 1rem 0;
  text-align: left;
  padding: 0 1rem;
  -webkit-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
  h2{
    margin-top: 0;
  }
}
.shader{
  background: -moz-linear-gradient(top, rgba(0,0,0,0.73) 0%, rgba(0,0,0,0.73) 10%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0,0,0,0.73) 0%,rgba(0,0,0,0.73) 10%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0,0,0,0.73) 0%,rgba(0,0,0,0.73) 10%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ba000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
  position: relative;
  top: -10px;
  padding-top: 10px;
  padding-bottom: 20px;
}
