@import 'fork-bootstrap';
@import 'fork-all';
@import 'font-awesome';
@import 'flickity';
@import 'normalize';
@import 'variables';
@import 'queries';
@import 'typography';

body{
  visibility: hidden;
}
html.wf-active body{
  visibility: visible;
}
// RESETS
iframe{
  width: 100%;
}
a, a:focus, a:hover{
  outline-style: none;
}
#nav .nav-drop>ul li.active:before{
  background-color: $usaid-red;
}
#nav ul li a, .foot-nav li a{
  color: $usaid-blue;
}
#nav .nav-drop>ul li a:active, #nav .nav-drop>ul li a:focus, #nav .nav-drop>ul li a:hover, .foot-nav li a:hover{
  color: $usaid-light-blue;
  text-decoration: none;
}
a{
  color: $usaid-red;
}
a:hover{
  color: darken($usaid-red, 10%);
}
#nav .nav-drop .drop-holder ul a:hover{
  color: $usaid-light-blue;
}
.visual{
  @include responsive(wide-screens){
    padding: 124px 0 0;
  }
  h1{
    margin-top: 10px;
  }
  color: white;
  @include responsive(medium-screens){

  }
}
// HEADER
.title a, .tagline{
  color: $usaid-light-gray;
}
#nav li a.current, #nav .nav-drop li a.current{
  color: $usaid-red;
}
.logobar{
  img{ width: 240px;
  @include responsive(medium-screens){
    width: 350px;
  }
  @include responsive(wide-screens){
    width: 400px;
  }
  }
  .usaid{
    float: left;
  }
  .pandr{
    float: right;
  }
}
.sub-top{
  display: none;
  @include responsive(medium-screens){
    display: block;
  }
}
// Boots

.btn-primary {
  color: #fff;
  background-color: $usaid-blue;
  border-color: $usaid-blue;
}
.btn-primary:hover{
  background-color: $usaid-light-blue;
  border-color: $usaid-light-blue;
}
#header .btn{
  line-height: 24px;
}

// Primary-Content
.no-header{
  padding-top: 0px;
  @include responsive(medium-screens){
    padding-top: 130px;
  }
}
.read-more{
  text-align: right;
}
article{
  @include clearfix;
}
.more-arrow{
  position: relative;
  top: 7px;
  height: 25px;
}
.btn-more{
  float: right;
  padding: 3px 6px;
  border-radius: 7px;
}
#resp-frame{
  margin-bottom: 2rem;
}
div.container.nav-box.important{
  padding: 0  0 29px 0;
  @include responsive(wide-screens){
    padding: 0 0 2px 0;
  }
}
section.visual, section.hero-box, .gallery{
  margin-top: 2px;
  @include responsive(medium-screens){
    margin-top: 183px;

  }
}
section.no-header{
  @include responsive(medium-screens){
    margin-top: 80px;
  }
}
.hero-box{
  min-height: 45rem;
  overflow: hidden;
  @include responsive(wide-screens){
    min-height: 70rem;
  }
  .hero-box--text{
    width: 100%;
    .hero-shader h2{
    font-weight: extra-bold;
    text-align: center;
    padding: 1rem 0 2rem 0;
    margin-top: 1.5rem;
    margin-bottom: 0;
    font-weight: 200;
    font-size: 5rem;
    color: $usaid-light-gray;
    }
    p{
      padding: 1rem 0 1.2rem 0;
      text-align: center;
      font-size: 4rem;
      font-weight: 200;
      color: $usaid-light-gray;
      font-family: "source-sans-pro", Helvetica, Arial, sans-serif;
    }
  }
}
.footer-block{
  margin-bottom: 2.5rem;
}

.gallery-cell {
  width: 66%;
  height: 500px;
  margin-right: 10px;
  background: #8C8;
  counter-increment: gallery-cell;
}
/* cell number */
.gallery-cell:before {

}
a.gallery-cell h2, a.gallery-cell p{
  color: $usaid-light-gray;
}
a.gallery-cell:hover{
  color: $usaid-light-gray;
}
.gallery-cell--text{
  width: 100%;
  @include responsive(small-screens){
    width: 70%;
  }
  @include responsive(medium-screens){
    width: 50%;
  }
  margin: 1rem 0;
  text-align: left;
  padding: 0 1rem;
  -webkit-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
  h2{
    margin-top: 0;
  }
}
.shader, .hero-shader{
  background: -moz-linear-gradient(top, rgba(0,0,0,0.73) 0%, rgba(0,0,0,0.73) 10%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0,0,0,0.73) 0%,rgba(0,0,0,0.73) 10%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0,0,0,0.73) 0%,rgba(0,0,0,0.73) 10%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ba000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
  position: relative;
  top: -10px;
  padding-top: 10px;
  padding-bottom: 20px;
}
#cta p, #cta a, .gallery-cell--text h2, .gallery-cell--text p{
  -webkit-transform: translate3d(0, 0, 0);
}
.article-title a, .article-details{
  font-family: "source-sans-pro", Helvetica, Arial, sans-serif;
  font-weight: 400;
}
.tag{
  padding: .3rem .5rem;
  color: $code-text-white;
  background-color: $usaid-blue;
  border-radius: 3px;
  margin-right: .5rem;
  font-weight: 400;
}
.flickity-prev-next-button.next{
  right: 20px;
}
.main-section-text h1{
  font-weight: 900;
  font-size: 4rem;
}
.team-posts{
  @include responsive(wide-screens){
    width: 50%;
    float: right;
  }
  .post{
    margin-bottom: 3rem;
  }
}
.team-resources, .team-filter{
  @include responsive(wide-screens){
    width: 45%;
    float: left;
  }
}

/*Sharing Buttons*/
.resp-sharing-button {
  display: inline-block;
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  transition: background-color 25ms ease-out, border-color 25ms ease-out, opacity 250ms ease-out;
  margin: 0.5em;
  padding: 0.5em 0.75em;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}

.resp-sharing-button a {
  text-decoration: none;
  color: #FFF;
  display: block;
}

.resp-sharing-button__icon {
  display: inline-block;
}

.resp-sharing-button__icon svg {
  width: 1em;
  height: 1em;
  margin-bottom: -0.1em;
}

/* Non solid icons get a stroke */
.resp-sharing-button__icon {
  stroke: #FFF;
  fill: none;
}

/* Solid icons get a fill */
.resp-sharing-button__icon--solid,
.resp-sharing-button__icon--solidcircle {
  fill: #FFF;
  stroke: none;
}

.resp-sharing-button__link {
  text-decoration: none;
  color: #FFF;
}

.resp-sharing-button--large .resp-sharing-button__icon svg, .resp-sharing-button--medium .resp-sharing-button__icon svg {
  padding-right: 0.4em;
}

.resp-sharing-button__wrapper {
  display: inline-block;
}

.resp-sharing-button--facebook {
  background-color: #3b5998;
  border-color: #3b5998;
}

.resp-sharing-button--facebook:hover,
.resp-sharing-button--facebook:active {
  background-color: #2d4373;
  border-color: #2d4373;
}

.resp-sharing-button--twitter {
  background-color: #55acee;
  border-color: #55acee;
}

.resp-sharing-button--twitter:hover,
.resp-sharing-button--twitter:active {
  background-color: #2795e9;
  border-color: #2795e9;
}

.resp-sharing-button--google {
  background-color: #dd4b39;
  border-color: #dd4b39;
}

.resp-sharing-button--google:hover,
.resp-sharing-button--google:active {
  background-color: #c23321;
  border-color: #c23321;
}

.resp-sharing-button--tumblr {
  background-color: #35465C;
  border-color: #35465C;
}

.resp-sharing-button--tumblr:hover,
.resp-sharing-button--tumblr:active {
  background-color: #222d3c;
  border-color: #222d3c;
}

.resp-sharing-button--email {
  background-color: #777777;
  border-color: #777777;
}

.resp-sharing-button--email:hover
.resp-sharing-button--email:active {
  background-color: #5e5e5e;
  border-color: #5e5e5e;
}

.resp-sharing-button--pinterest {
  background-color: #bd081c;
  border-color: #bd081c;
}

.resp-sharing-button--pinterest:hover,
.resp-sharing-button--pinterest:active {
  background-color: #8c0615;
  border-color: #8c0615;
}
